{
  "x-trackerToken": ""
  "credentials": {
      "owner": {
        "username": "",
        "apiToken": ""
      },
      "member": {
        "username": "",
        "apiToken": ""
      }
    },
    "url": {
      "api": ""
    }
}
